/**Workflow for a triobinning pipeline**/
/** Requirements :
If you have multiple long read files, they need to be concatenated into a single one prior to the pipeline **/

params {
    /** Input file definition **/
    genome = "path/to/genome"
    illumina_p1_R1 = "path/to/parent_1/R1"
    illumina_p1_R2 = "path/to/parent_1/R1"
    illumina_p2_R1 = "path/to/parent_2/R1"
    illumina_p2_R2 = "path/to/parent_2/R2"
    // if parental data are already merged : 
    //illumina_p1 = "path/to/parent_2"
    //illumina_p2 = "path/to/parent_2"
    // if k-mers were already counted with yak : 
    //yak_p1 = "path/to/yak/file/of/parent_1"
    //yak_p2 = "path/to/yak/file/of/parent_1"

    /** Assembly name **/
	assembly_name = "assembly_name"

    /** Output directory **/
    outdir = "$baseDir"

    /** Software parameters **/
    option_yak = "-k 31 -b37"
    option_hifiasm = "--ont -t 32"
    option_busco_java = "export _JAVA_OPTIONS='-Xmx50g'"
    option_busco = "--mode genome -l $busco_lineage"
}


singularity {
    enabled = true
    automMounts = true
    runOptions = "--bind /work/path1/, /work/path2/, "
}

process {

    cpus = 32
	
    withLabel: 'yak' {
        container = "path/to/singularity/container/"
    }

    withLabel: 'hifiasm' {
        container = "path/to/singularity/container"
    }

    withLabel: 'gfa_to_fa' {
        container = "path/to/singularity/container"
    }

    withLabel: 'scaffolding' {
        container = "path/to/singularity/container"
    }

    withLabel: 'bbtools' {
        container = "path/to/singularity/container"
    }

    withLabel: 'busco' {
		cpus = 8
		memory = 50.GB
        container = "path/to/singularity/container"
    }
}
